body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: #283642;
}

img {
  width:70px;
  border-radius:50%;
  border: 5px solid #863FBD;

  animation: out 0.5s 1;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

img:hover {
  animation: in 0.5s 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.gif {
  transform: scale(0);
  display: none;
  position: fixed;
  height: 50vh;
  top: 50%;
  left: 50%;
  margin: -100px -100px -100px -250px;
  padding-top: 30px;
}

.gif.show {
  display: block;
  animation: grow 1s ease-out forwards;
}

.gif .close {
  color: #ffffff99;
  font-size: 24px;
  font-weight: bold;
  float: right;
  position: absolute;
  right: 0;
  top: 0px;
}

.progress-line {
  position: absolute;
  left: 0;
  top: 8px;
  height: 10px;
  width: 96%;
  background: #ffffff3d;
  border-radius: 3px;
}

.progress-line-progress {
  position: absolute;
  left: 0;
  top: 8px;
  height: 10px;
  width: 0%;
  background: #fff;
  border-radius: 3px;

  transition-property: width;
  transition-duration: 3s;
  transition-delay: 1s;
}

.progress-line-progress.growing {
  width: 96%;
}

@keyframes in {
  0%{
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  70%{
    transform: scale(1.3);
  }
  100%{
    transform: scale(1.5);
    border-color: #ED5354;
  }
}

@keyframes out {
  0%{
    transform: scale(1.5);
  }
  30% {
    transform: scale(1.3);
  }
  70%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
